# ¿Eres un adulto de 50.000?

## Problema

Hay un dataset que contiene información de personas, y esa información indica para cada persona si gana más de 50.000USD al año o no. Se te pide que implementes un modelo de clasificación que prediga si una persona gana más de 50.000USD al año o no.

In [7]:
## Descargamos el dataset adult que contiene esta información
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets

In [8]:
X.drop(columns=['fnlwgt','education-num'], inplace=True)

/tmp/ipykernel_20157/3928951730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns=['fnlwgt','education-num'], inplace=True)

In [11]:
y.replace({'<=50K': 0,'<=50K.': 0, '>50K': 1,'>50K.': 1}, inplace=True)

y.value_counts()

/tmp/ipykernel_20157/2829664678.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y.replace({'<=50K': 0,'<=50K.': 0, '>50K': 1,'>50K.': 1}, inplace=True)
/tmp/ipykernel_20157/2829664678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.replace({'<=50K': 0,'<=50K.': 0, '>50K': 1,'>50K.': 1}, inplace=True)

income
0         37155
1         11687
Name: count, dtype: int64

In [13]:
y

       income
0           0
1           0
2           0
3           0
4           0
...       ...
48837       0
48838       0
48839       0
48840       0
48841       1

[48842 rows x 1 columns]

In [21]:
X

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,HS-grad,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [22]:
X.dtypes

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [24]:
## dummy variables
import pandas as pd

categorical_columns = X.select_dtypes(include=['object']).columns
numerical_columns = X.select_dtypes(exclude=['object']).columns

pd.get_dummies(X[categorical_columns]).astype(int)

## NO guardamos el orden de las columnas
## NO sabemos que pasa con columnas nuevas en test

,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [37]:
### Para evitar estos limitantes usamos Encoders de Sklearn

### Sklearn tiene un encoder que se llama OneHotEncoder: Funciona con columnas categóricas como dummies
### También esta OrdinalEncoder: Funciona con columnas ordinales aquí se usan enteros para representar las categorías y se respeta el orden.
### LabelEncoder: Funciona con columnas objetivo. Como usamos una variable objetivo binaria, no es necesario usarlo.

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

ohencoder = OneHotEncoder(sparse_output=False) ## Instancio el objeto OneHotEncoder
ohencoder.fit(X[categorical_columns])  ## Ajusto el objeto OneHotEncoder a los datos

ohencoder.get_feature_names_out() ## Muestra las columnas que se crearon

ohencoder.transform(X[categorical_columns]).shape ## Transforma los datos

(48842, 105)

In [36]:
pd.get_dummies(X.head(3)).shape

(3, 20)

In [35]:
ohencoder.transform(X.head(3)[categorical_columns]).shape

(3, 105)